*{
    margin: 0;
}
.contenedor{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}
.azul{
    background-color: blue;
    width: calc((100% / 3) - 30px);
    height: 20%;
}

.verde{
    background-color: green;
    width: calc((100% / 3) - 30px);
}

.morado{
    background-color: blueviolet;
    width: calc((100% / 3) - 30px);
}